<launch>
  <param name='highlight_text_color' value='YELLOW' />

    <!-- Sun to Mercury-->

  <node name="sun_to_mercury" pkg="psr_aula11_tp" type="Ex3.py" output='screen'>
    <remap from='parent' to='sun' />
    <remap from='child' to='mercury' />
    <param name = 'distance_to_parent' value = '0.387' />
    <param name = 'period' value = '0.241' />
  </node>

    <!-- Sun to Venus-->

  <node name="sun_to_venus" pkg="psr_aula11_tp" type="Ex3.py" output='screen'>
    <remap from='parent' to='sun' />
    <remap from='child' to='venus' />
    <param name = 'distance_to_parent' value = '0.723' />
     <param name = 'period' value = '0.615' />
  </node>

    <!-- Sun to Earth-->
  <node name="sun_to_earth" pkg="psr_aula11_tp" type="Ex3.py" output='screen'>
    <remap from='parent' to='sun' />
    <remap from='child' to='earth' />
    <param name = 'distance_to_parent' value = '1' />
     <param name = 'period' value = '1' />
  </node>

     <!-- Earth to Moon-->
  <node name="earth_to_moon" pkg="psr_aula11_tp" type="Ex3.py" output='screen'>
    <remap from='parent' to='earth' />
    <remap from='child' to='moon' />
    <param name = 'distance_to_parent' value = '0.2' />
     <param name = 'period' value = '0.07' />
  </node>



</launch>